.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 3fr repeat(3, 1fr) 2fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    width: 100%;
    }
    
    .center { 
        grid-area: 3 / 4 / 6 / 5; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        min-height: 225;
        max-width: 225;
    }
    
    .op_item1 { grid-area: 2 / 3 / 3 / 4; width: 75px; height: 75px;}
    .op_item2 { grid-area: 2 / 2 / 3 / 3; width: 75px; height: 75px;}
    .op_item3 { grid-area: 3 / 2 / 4 / 3; width: 75px; height: 75px;}
    .op_item4 { grid-area: 3 / 3 / 4 / 4; width: 75px; height: 75px;}
    .op_item5 { grid-area: 2 / 5 / 3 / 6; width: 75px; height: 75px;}
    .op_item6 { grid-area: 2 / 6 / 3 / 7; width: 75px; height: 75px;}
    .op_item7 { grid-area: 3 / 6 / 4 / 7; width: 75px; height: 75px;}
    .op_item8 { grid-area: 3 / 5 / 4 / 6; width: 75px; height: 75px;}
    
    .p_item1 { grid-area: 5 / 6 / 6 / 7; width: 75px; height: 75px;}
    .p_item2 { grid-area: 5 / 5 / 6 / 6; width: 75px; height: 75px;}
    .p_item3 { grid-area: 6 / 5 / 7 / 6; width: 75px; height: 75px;}
    .p_item4 { grid-area: 6 / 6 / 7 / 7; width: 75px; height: 75px;}
    .p_item5 { grid-area: 5 / 3 / 6 / 4; width: 75px; height: 75px;}
    .p_item6 { grid-area: 5 / 2 / 6 / 3; width: 75px; height: 75px;}
    .p_item7 { grid-area: 6 / 2 / 7 / 3; width: 75px; height: 75px;}
    .p_item8 { grid-area: 6 / 3 / 7 / 4; width: 75px; height: 75px;}
    
    .opponent_area { 
        grid-area: 1 / 4 / 3 / 5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 75px;
    }
    .player_area { 
        grid-area: 6 / 4 / 8 / 5;
        display: flex;
        flex-direction: row;
        justify-content: center;        
        height: 75px;
    }
    
    .basic_info { grid-area: 2 / 8 / 3 / 9; }
    .shotgun_info { 
        grid-area: 3 / 8 / 6 / 9;
        display: flex;
        flex-direction: column;
    }
    /* .shotgun_info * { 
        flex-grow: 1;
    } */
    .model_outputs { grid-area: 6 / 8 / 8 / 9; }

    .shoot_op { grid-area: 7 / 5 / 8 / 6; }
    .shoot_p { grid-area: 1 / 5 / 2 / 6; } 
    
    .p_item_slot {
        border: 1px solid black;
    }
    .op_item_slot {
        border: 1px solid black;
    }