<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buckshot Roulette Mockup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='game_page.css') }}">
    <script src="{{ url_for('static', filename='game_page.js') }}"></script>

  </head>
  <body>
	<div class="parent">
        <div class="center">
            <img id='shotgun_img' src="{{ url_for('static', filename='images/shotgun.png') }}" width="100%">
        </div>
        <div class="op_item1 op_item_slot"> </div>
        <div class="op_item2 op_item_slot"> </div>
        <div class="op_item3 op_item_slot"> </div>
        <div class="op_item4 op_item_slot"> </div>
        <div class="op_item5 op_item_slot"> </div>
        <div class="op_item6 op_item_slot"> </div>
        <div class="op_item7 op_item_slot"> </div>
        <div class="op_item8 op_item_slot"> </div>
        <div class="p_item1 p_item_slot"> </div>
        <div class="p_item2 p_item_slot"> </div>
        <div class="p_item3 p_item_slot"> </div>
        <div class="p_item4 p_item_slot"> </div>
        <div class="p_item5 p_item_slot"> </div>
        <div class="p_item6 p_item_slot"> </div>
        <div class="p_item7 p_item_slot"> </div>
        <div class="p_item8 p_item_slot"> </div>
        <div class="opponent_area"> </div>
        <div class="player_area"> </div>
        <div class="basic_info"> </div>
        <div class="shotgun_info"> </div>
        <div class="model_outputs"> </div>
        <div class="shoot_op">
          <button id="shoot_op_button" type="button" onclick="shoot(0, 0)">Fire</button> 
        </div>
        <div class="shoot_p">
          <button id="shoot_p_button" type="button" onclick="shoot(0, 1)">Fire</button> 
        </div>
    </div> 
  </body>
</html>
